---
const personalImageAlt = "Juan Gramajo";
---

<article
  class="mx-18 flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-accentLight dark:[&>p>strong]:text-accentDark [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 mx-8"
  >
    <p>
      Mi nombre es Juan Esteban Gramajo, tengo 31 años y vivo en la provincia de
      La Rioja, Argentina. Comencé mi carrera en programación en 2017, y
      actualmente <strong>
        desarrollo proyectos a medida para pequeñas empresas y profesionales de
        distintos sectores</strong
      >, brindando soluciones digitales eficientes y personalizadas para
      satisfacer las necesidades de cada negocio.
    </p>

    <p>
      Uno de mis proyectos más destacados es<strong>
        Génesis, un sistema de gestión de alumnos que creé para el Instituto
        Salvador</strong
      >
      , donde también trabajo como soporte en sistemas desde 2022.
    </p>
    <p>
      Estoy en busca de <strong>
        oportunidades en empresas de la industria tecnológica</strong
      >, con el objetivo de ganar experiencia y trabajar en equipo para seguir
      creciendo profesionalmente.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/foto-2.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
